h1 {
    background-color: rgba(26, 248, 26, 0.597)
}

.background-example{
    background-image: url('butiki.jpg');
    height: 500px;
    width: 250px;
    background-position: center;
    opacity: 1;
}
